form.edit_profile, form.hostForm, form.artistForm {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border: solid 1px white;
    width: 70%;
    margin: 0 auto;
    color: white;
    margin-bottom: 5rem;
}